<p-tabView styleClass="tabview-custom" (onChange)="onSelectTabChange($event)">
  <p-tabPanel>
    <ng-template pTemplate="header">
      <i class="pi pi-book"></i>
      <span>&nbsp;To Do</span>
    </ng-template>
    <div style="padding: 5px">
      <button id="addButton" pButton pRipple type="button" label="Add" icon="pi pi-plus"
        class="p-button-rounded p-button-info p-button-sm" (click)="addDialoag()" style="margin: 5px;"></button>
    </div>
    <p-orderList [value]="toDoTasks" [listStyle]="{'max-height':'30rem'}" filterBy="message" [dragdrop]="true"
      (onReorder)="onReorder()">
      <ng-template let-task pTemplate="item">
        <div>
          <h3 style="float:left">{{task.message}}</h3>
        </div>
        <div style="float:right">
          <button pButton pRipple type="button" label="Done" icon="pi pi-check"
            class="p-button-rounded p-button-success p-button-sm done-button" (click)="done(task.id)"
            style="margin: 5px;"></button>
          <button pButton pRipple type="button" label="Edit" icon="pi pi-pencil"
            class="p-button-rounded p-button-warning p-button-sm edit-button" (click)="editDialog(task)"
            style="margin: 5px;"></button>
          <button pButton pRipple type="button" label="Delete" icon="pi pi-trash p-button-sm"
            class="p-button-rounded p-button-danger p-button-sm delete-button" (click)="delete(task.id)"
            style="margin: 5px;"></button>
        </div>
        <div>
          <h3 style="float:right">{{task.reminderTime | date : 'yyyy-MM-dd HH:mm'}}</h3>
        </div>
      </ng-template>
    </p-orderList>
  </p-tabPanel>
  <p-tabPanel header="Header II">
    <ng-template pTemplate="header">
      <i class="pi pi-check-square"></i>
      <span>&nbsp;Completed</span>
    </ng-template>
    <p-orderList [value]="completedTasks" [listStyle]="{'max-height':'30rem'}" filterBy="message">
      <ng-template let-task pTemplate="item">
        <div>
          <div class="product-list-detail">
            <h5 style="float:left">{{task.message}}</h5>
          </div>
        </div>
      </ng-template>
    </p-orderList>
  </p-tabPanel>
</p-tabView>

<p-dialog header="Add" [(visible)]="displayAddDialog" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
  [resizable]="false" [contentStyle]="{'overflow': 'visible'}">
  <div style="width: 20%;">
    <h4 style="float:left;margin: 10px;">message</h4>
  </div>
  <input id="addInput" type="text" style="width: 90%;" pInputText [(ngModel)]="inputMessage">
  <div style="width: 20%;margin: 10px;">
    <h4 style="float:left">reminder&nbsp;</h4>
  </div>
  <p-calendar [(ngModel)]="inputReminderTime" [showTime]="true" inputId="time" [showButtonBar]="true">
  </p-calendar>
  <ng-template pTemplate="footer">
    <button id="saveButton" pButton pRipple type="button" label="Save" icon="pi pi-save"
      [disabled]="inputMessage.trim() === ''" class="p-button-rounded p-button-info p-button-sm"
      (click)="add()"></button>
  </ng-template>
</p-dialog>
<p-dialog header="Edit" p-dialog-titlebar-icon [(visible)]="displayEditDialog" [modal]="true" [style]="{width: '50vw'}"
  [draggable]="false" [resizable]="false" [contentStyle]="{'overflow': 'visible'}">
  <div style="width: 20%;">
    <h4 style="float:left;margin: 10px;">message</h4>
  </div>
  <input id="addInput" type="text" style="width: 90%;" pInputText [(ngModel)]="inputMessage">
  <div style="width: 20%;margin: 10px;">
    <h4 style="float:left">reminder&nbsp;</h4>
  </div>
  <p-calendar [(ngModel)]="inputReminderTime" [showTime]="true" inputId="time" [showButtonBar]="true">
  </p-calendar>
  <ng-template pTemplate="footer">
    <button id="editSaveButton" pButton pRipple type="button" label="Save" icon="pi pi-save"
      [disabled]="inputMessage.trim() === ''" class="p-button-rounded p-button-info p-button-sm"
      (click)="edit()"></button>
  </ng-template>
</p-dialog>